
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Admin</h1>
    <p>
      <table>
      	<tr>
      		<td>Total no. of updated variants: <%= @count%></td> 

      		<td></td>
      	</tr>
      </table>
    </p>
  </body>
</html>
