# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 501fd0ef7f1b45e0430c701ea65c18f4ff72691a9b732105534d3c5519933bdfe3f140a714ee26ade4fb85f84a516a632faeaf2c5d2ba19635897061d8db8a96

test:
  secret_key_base: f018a64d1e5faef603e81ad8109e41eb64fb761b0c93815daf63024bc86c1db65e6078a24ae2034ad898ff891b315d5080b8de967982facb4e118ccab7b8cae1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: f018a64d1e5faef603e81ad8109e41eb64fb761b0c93815daf63024bc86c1db65e6078a24ae2034ad898ff891b315d5080b8de967982facb4e118ccab7b8cae1
