<%= form_tag('/homes/create_product') do %>
  <%= label_tag(:title, "Base URL:") %>
  <%= text_field_tag 'base_url', '', size: 100 %><br />
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

