<h4>Currently we are using <%= ShopifyAPI::Shop.current.name %> </h4></br>
<%= form_tag '/homes/update_shopify_url', :method => 'put', :class => "form-inline" do %>
<div class="form-group">
   <%#= text_field_tag :query_1, params[:query], placeholder: "Enter gemstone", class: "form-control"%>
   <%= text_field_tag :url, params[:query], placeholder: "Enter new url..", :size=>"130", class: "form-control"%>
</div>
<button type="submit" class="btn btn-warning">Update URL</button>
<% end %>
<br />
 
