<h3>Update According to Variant's Titles Value</h3>
<%= form_tag '/update_variants_value', :method => 'put', :class => "form-inline" do %>
<div class="form-group">
  <label for="exampleInputName2">Gemstones</label>
  <%= text_field_tag :query_1, params[:query], placeholder: "Enter gemstone", class: "form-control"%>
  <%= text_field_tag :query_2, params[:query], placeholder: "Enter new price..", class: "form-control"%>
</div>
<button type="submit" class="btn btn-warning">Update Variant</button>
<% end %>
<br />
