<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>   
      <th><%= model_class.human_attribute_name(:list) %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>        
        <td><%= link_to product.title, product_path(product) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
