<!-- Main Header -->
<% if user_signed_in? %>
<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo cursor_wait">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>K</b>DD</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Ken & Dana Design</b></span>
  </a>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
    </a>
    <ul class="nav navbar-nav">
            <%= yield :back%>
        </ul>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <!-- Notifications Menu -->
        <!-- Tasks Menu -->
        <!-- User Account Menu -->
        <li >
          <!-- Menu Toggle Button -->
          
          <a class="navbar-nav"><%= current_user.email %></a>
          
        
        </li>
        <li>
          <%= link_to " Logout", destroy_user_session_path, class: 'fa glyphicon glyphicon-log-out' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
<% end %>
