<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    All Rights Reserved.
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2015 <a href="#">Mobikasa</a>.</strong> 
</footer>
