<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    <span title="<%#= @shop_link_kr %>">All Rights Reserved.</span>
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2015 <a href="http://www.mobikasa.com">Mobikasa Inc.</a></strong> 
</footer>
